In [1]:
import pandas as pd
import numpy as np

In [18]:
# Path to the txt file
file_path = './SOBRADINHO_DIARIA_1931_2016.txt'

# Reading file
with open(file_path, 'r') as file:
    lines = file.readlines()

# Creating a DataFrame
df = pd.DataFrame(lines, columns=['Flow'])

# Strip newline characters from the end of each line
df['Flow'] = df['Flow'].str.strip()
df['Flow']=pd.to_numeric(df['Flow'], errors='coerce').fillna(0).astype(int)

print(df)

       Flow
0      5512
1      5543
2      5607
3      5639
4      5703
...     ...
31407  2871
31408  3048
31409  3163
31410  3160
31411  3023

[31412 rows x 1 columns]

In [19]:
#função para fazer o deslocamentos das saídas e entradas
def deslocamento(entradas,saidas,colunas,tabela):
    #cria uma cópia da tabela
    tabela1=tabela.copy()
    #desloca a coluna flow i vezes para trás
    for i in range(1,entradas+1):
        for coluna in colunas:
            tabela1.insert(loc=0, column=coluna+str((entradas-i)+1), value=tabela[coluna].shift(i))
        
    #desloca a coluna flow i vezes para frente
    for i in range(1,saidas):
        tabela1['Saída'+ str(i)]=tabela['Flow'].shift(-1*i)
    return tabela1

In [20]:
#armazenando os dados das tabelas de acordo com as entradas numa lista dataframes
entradas_testes=[15,30,45]
saidas = 12
dataframes = []
colunas = ['Flow']
for entrada in entradas_testes:
    dataframes.append(deslocamento(entrada,saidas,colunas,df).dropna())
dataframes[1]

,Flow1,Flow2,Flow3,Flow4,Flow5,Flow6,Flow7,Flow8,Flow9,Flow10,...,Saída2,Saída3,Saída4,Saída5,Saída6,Saída7,Saída8,Saída9,Saída10,Saída11
30,5512.0,5543.0,5607.0,5639.0,5703.0,5767.0,5767.0,5767.0,5767.0,5735.0,...,3641.0,3813.0,4017.0,4105.0,4105.0,4046.0,3958.0,3871.0,3813.0,3871.0
31,5543.0,5607.0,5639.0,5703.0,5767.0,5767.0,5767.0,5767.0,5735.0,5671.0,...,3813.0,4017.0,4105.0,4105.0,4046.0,3958.0,3871.0,3813.0,3871.0,4046.0
32,5607.0,5639.0,5703.0,5767.0,5767.0,5767.0,5767.0,5735.0,5671.0,5607.0,...,4017.0,4105.0,4105.0,4046.0,3958.0,3871.0,3813.0,3871.0,4046.0,4402.0
33,5639.0,5703.0,5767.0,5767.0,5767.0,5767.0,5735.0,5671.0,5607.0,5480.0,...,4105.0,4105.0,4046.0,3958.0,3871.0,3813.0,3871.0,4046.0,4402.0,4735.0
34,5703.0,5767.0,5767.0,5767.0,5767.0,5735.0,5671.0,5607.0,5480.0,5322.0,...,4105.0,4046.0,3958.0,3871.0,3813.0,3871.0,4046.0,4402.0,4735.0,4949.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31396,549.0,567.0,602.0,631.0,708.0,791.0,878.0,972.0,1079.0,1188.0,...,1696.0,1748.0,1798.0,1869.0,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0
31397,567.0,602.0,631.0,708.0,791.0,878.0,972.0,1079.0,1188.0,1308.0,...,1748.0,1798.0,1869.0,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0,3048.0
31398,602.0,631.0,708.0,791.0,878.0,972.0,1079.0,1188.0,1308.0,1402.0,...,1798.0,1869.0,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0,3048.0,3163.0
31399,631.0,708.0,791.0,878.0,972.0,1079.0,1188.0,1308.0,1402.0,1509.0,...,1869.0,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0,3048.0,3163.0,3160.0
31400,708.0,791.0,878.0,972.0,1079.0,1188.0,1308.0,1402.0,1509.0,1581.0,...,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0,3048.0,3163.0,3160.0,3023.0

In [21]:
def calcularZeW(tabela):
    z=[]
    for i,vazao in enumerate(df['Flow']):
       z.append((tabela.diff().iloc[i,0]/vazao)*100)
    tabela.insert(loc=0, column='z', value=z)
    tabela.insert(loc=0, column='w', value=df['z'].diff())
calcularZeW(df)

In [24]:
#armazenando os dados das tabelas de acordo com as entradas numa lista dataframes para o arquivo 2
entrada=15
saidas = 12
dataframes2 = []
colunas = ['Flow','z','w']
tabelaZW=deslocamento(entrada,saidas+1,colunas,df).dropna()

17       4312
18       4105
19       3871
20       3755
21       3698
         ...
31395    1601
31396    1628
31397    1670
31398    1696
31399    1748
Name: Flow, Length: 31383, dtype: int32

In [17]:
deslocamento1(30,12,['Flow'],df).dropna()

,Flow1,Flow2,Flow3,Flow4,Flow5,Flow6,Flow7,Flow8,Flow9,Flow10,...,Saída2,Saída3,Saída4,Saída5,Saída6,Saída7,Saída8,Saída9,Saída10,Saída11
30,5512.0,5543.0,5607.0,5639.0,5703.0,5767.0,5767.0,5767.0,5767.0,5735.0,...,3641.0,3813.0,4017.0,4105.0,4105.0,4046.0,3958.0,3871.0,3813.0,3871.0
31,5543.0,5607.0,5639.0,5703.0,5767.0,5767.0,5767.0,5767.0,5735.0,5671.0,...,3813.0,4017.0,4105.0,4105.0,4046.0,3958.0,3871.0,3813.0,3871.0,4046.0
32,5607.0,5639.0,5703.0,5767.0,5767.0,5767.0,5767.0,5735.0,5671.0,5607.0,...,4017.0,4105.0,4105.0,4046.0,3958.0,3871.0,3813.0,3871.0,4046.0,4402.0
33,5639.0,5703.0,5767.0,5767.0,5767.0,5767.0,5735.0,5671.0,5607.0,5480.0,...,4105.0,4105.0,4046.0,3958.0,3871.0,3813.0,3871.0,4046.0,4402.0,4735.0
34,5703.0,5767.0,5767.0,5767.0,5767.0,5735.0,5671.0,5607.0,5480.0,5322.0,...,4105.0,4046.0,3958.0,3871.0,3813.0,3871.0,4046.0,4402.0,4735.0,4949.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31396,549.0,567.0,602.0,631.0,708.0,791.0,878.0,972.0,1079.0,1188.0,...,1696.0,1748.0,1798.0,1869.0,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0
31397,567.0,602.0,631.0,708.0,791.0,878.0,972.0,1079.0,1188.0,1308.0,...,1748.0,1798.0,1869.0,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0,3048.0
31398,602.0,631.0,708.0,791.0,878.0,972.0,1079.0,1188.0,1308.0,1402.0,...,1798.0,1869.0,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0,3048.0,3163.0
31399,631.0,708.0,791.0,878.0,972.0,1079.0,1188.0,1308.0,1402.0,1509.0,...,1869.0,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0,3048.0,3163.0,3160.0
31400,708.0,791.0,878.0,972.0,1079.0,1188.0,1308.0,1402.0,1509.0,1581.0,...,1997.0,2123.0,2246.0,2465.0,2680.0,2871.0,3048.0,3163.0,3160.0,3023.0

In [10]:
df

              w         z  Flow
0           NaN       NaN  5512
1           NaN  0.559264  5543
2      0.582166  1.141430  5607
3     -0.573954  0.567477  5639
4      0.554740  1.122216  5703
...         ...       ...   ...
31407 -1.369654  6.652734  2871
31408 -0.845648  5.807087  3048
31409 -2.171298  3.635789  3163
31410 -3.730726 -0.094937  3160
31411 -4.436985 -4.531922  3023

[31412 rows x 3 columns]